# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NIS_J_Comp\Single-Sign-On-Signature-Verification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
